:root {
    --darkblue: #1F2937;
    --main-text: #F9FAF8; 
    --lightgrey: #E5E7EB;
    --button: #3882F6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

#page-wrapper > div {
    padding: 1rem 8rem;
}

/* Main section */

#main-section {
    background-color: var(--darkblue);
}

/* Header */

#header {
    display: flex;
    align-items: center;
}

#logo {
    margin-right: auto;
    color: var(--main-text);
    font-size: 24px;
    font-weight: 700;
}

#header ul {
    gap: 2rem;
    display: flex;
}

#header ul li {
    list-style: none;
}

#header ul li a {
    font-size: 18px;
    color: var(--lightgrey);
    text-decoration: none;
}

/* Main text */

#main-text {
    margin: 6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-text-area h1 {
    font-size: 48px;
    color: var(--main-text);
    font-weight: 900;
}

#main-text-area p {
    font-size: 18px;
    color: var(--lightgrey);
}

button {
    background-color: var(--button);
    color: var(--main-text);
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
}

#main-text-area button {
    margin-top: 0.5rem;
}

/* Info Section */

#info-section h2 {
    margin-top: 1rem;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: var(--darkblue);
}

#item-showcase {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0 6rem;
}

#item-showcase div {
    width: 150px;
    text-align: center;
    font-size: 18px;
    color: var(--darkblue);
}

#item-showcase div img {
    border-radius: 10px;
    border: 3px solid var(--button);
    height: 150px;
    width: 150px;
    object-fit: cover;
}

#item-showcase div a {
    color: var(--button);
}

/* Quote Section */

#quote-section {
    background-color: var(--lightgrey);
}

#quote-container {
    margin: 6rem auto;
    width: 700px;
}

#quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: var(--darkblue);
}

#quote-container p {
    margin: 1rem 1.5rem 0 0;
    text-align: right;
    font-weight: bold;
    font-size: 2rem;
}